<body>

    <div class="make">

       
            <div class="appoint">
                <h1><b><i>Appointment schedule</i></b></h1>
            </div>
            <div>

            <table class="center">
                <h1>Booked Appointments</h1>
                <tr>
                    <td>
                        <form action="{{id}}" method="post">
                        <input type="text"  name="confirm" required>
                             <input type="text" name="delete">
                        
                        </form>
                    </td>
                </tr>
                 </table>   

        </div>
        
            
        

    </div>
</body>